*{
	box-sizing: border-box;
}
html{
	--hue: 208;
	--theme-color: #b64f44;
  --system-font: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 62.5%;
}
body{
	margin: 0;
	font-size: 1.6rem;
	font-family: var(--system-font);
	line-height: 1.6;
	background: #333;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 1rem 0;
}
h1,h2,h3,h4,h5,h6{
  line-height: 1.2;
}
h5{
	font-weight: 400;
}
a{
	text-decoration: none;
	color: inherit;
}
.resume{
	display: block;
	grid-template-columns: 75% 25%;
	margin: 5rem auto;
	width: 100%;
	max-width: 1100px;
	background: #fff;
	overflow: hidden;
}
@media screen and (min-width: 830px) {
	.resume{
		display: grid;
	}
}
main{
	padding: 3rem;
}
main > h2{
	font-size: 1.4rem;
}
main section{
	margin-top: 1rem;
}
@property --theme-color-2{
  syntax: "<color>";
  inherits: false;
  initial-value: #8f3b30;
}
.section-heading {
  color: var(--theme-color-2);
}
.experience:not(:first-of-type){
	position: relative;
	margin-top: 2.5rem;
}
.experience:not(:first-of-type)::before{
	content: '';
	position: absolute;
	top: -1rem;
	left: calc(50% - 10rem);
	width: 20rem;
	height: 0;
  border-bottom: solid 2px #eaeaea;
}
.experience h3, .experience h4, .experience h5, .experience p{
	margin: .5rem 0;
}
.experience h3{
  color: var(--theme-color);
}
.skill-group {
  font-size: 1.4rem;
  color: var(--theme-color-2);
}
.icon {
  vertical-align: text-bottom;
  width: 20px;
  height: 20px;
}
.italic {
  font-style: italic;
}
ul.experience-points{
  list-style-type: disc;
  margin-left: 2rem;
}
aside{
	position: relative;
	padding: 4rem 2rem;
	background: #ebebeb;
	font-size: 1.4rem;
	overflow: hidden;
}
aside nav{
	position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
	z-index: 10;
}
.tools{
	margin: .4rem 0 1rem;
	font-size: 1.2rem;
	color: #888;
}
.tools li, .tools ul{
	display: inline;
	font-weight: 300;
}
@media screen and (min-width: 830px){
	aside{
		padding: 2rem;
	}
}
aside section{
	margin-top: 4rem;
}
@media screen and (min-width: 830px){
	aside section{
		margin-top: 10rem;
	}
}
h1{
	color: var(--theme-color);
}
.circle{
	position: absolute;
	top: -14rem;
	right: -8rem;
	width: 25rem;
	height: 25rem;
	border-radius: 50%;
	background: var(--theme-color);
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
section ul li:not(:last-child) {
	margin-bottom: .5rem;
}
.tools ul li:not(:last-child)::after{
	content: ',';
}
#email::after{
  content: attr(data-name) "@" attr(data-provider)
}

@media print{
	*{
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
	}
	@page{
		margin: 0mm;
    size: auto;
	}
	html{
		font-size: 40%;
	}
  p, h2, h3{
    orphans: 3;
    widows: 3;
  }
  h2,h3{ page-break-after: avoid; }
	aside{
		padding: 2rem 3rem;
		background: none !important;
	}
	aside section{
		margin-top: 10rem;
	}
	aside nav{
		display: none;
	}
	.resume{
		display: grid;
		width: 100%;
		max-width: 100%;
		margin: 0;
	}
	.circle{
		background: var(--theme-color) !important;
	}
  .icon { display: none }
}